<template>
    <div>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img :src="image + films.poster_path" alt="">
                </div>
                <div class="col-md-4">
                    <h3>{{films.title}}</h3>
                    <p>{{films.overview}}</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'DetailFilm',
  data () {
    return {
      films: {},
      image: 'https://image.tmdb.org/t/p/w185_and_h278_bestv2/'
    }
  },
  mounted () {
    const id = this.$route.params.filmId
    axios
      .get('https://api.themoviedb.org/3/movie/' + id + '?api_key=12bc0e841cf079697d78e0a8b263aae6').then(response => (this.films = response.data))
  }
}
</script>
<style scoped>
    img{
        display: flex;
    }
    p{
        text-align: justify;
    }
</style>
